*
!.gitignore

!agents/
!agents/**

!knowledge/
!knowledge/**

!skills/
!skills/**

# https://github.com/anthropics/skills
skills/docx
skills/pdf
skills/pptx
skills/xlsx

# claude
skills/dogfooding

# private
knowledge/gitsrc
knowledge/gen/proposal
knowledge/gen/repo_commit_tracker
skills/mcp-server-center-docs
skills/write-okr
